*,
html {
    margin: 0;
    padding: 0;
}

.container {}

.container-navbar {
    background-color:rgb(221, 0, 255);
    width: 100% ;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px; 
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 15;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover{
    background-color: rgb(35, 2, 2);
    transition: .4s ease-in-out;
    transition-delay: .3s;
    border-radius: 30px;
}

.a-navbar{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content{
   background-color: white;
   color: black;
   text-decoration: none;
   font-size: 30px;
   width: 720px;
   height: 480px;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   display: flex;
   border-radius: 80px ;
   box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
   -webkit-box-shadow:0px 10px 5px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadaow:  10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-content {
    width: 50%;
    height: 50%;
}

.container-footer {
    height: 10vh;
    background-color: rgb(255, 106, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
    color: white;
}
    